@import './breakpoints';

.wrap {
    display: flex;
    align-items: center;

    .header_left,
    .header_right {
        flex-grow: 1;

        & :where(.header_left, .header_right) li {
            display: flex;
            align-items: center;
            height: 80px;
        }

        .list_inline {
            .header_left_ul_lists {
                @include md {
                    display: none;
                }
            }

            .nav_link {
                position: relative;
                font-size: var(--font-size-24);
                padding: 0 10px;
                line-height: 1;
                display: flex;
                transition: var(--transition-color);

                .item_floating {
                    position: absolute;
                    font-size: 10px;
                    font-weight: var(--font-weight-600);
                    top: -8px;
                    right: 0;
                    background-color: var(--primay-color);
                    color: var(--white-color);
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }

                &:hover {
                    color: var(--light-color);
                }

            }

            .header_right_ul_lists {
                justify-content: flex-end;
            }
        }

        .menu_bar {
            display: none;

            @include md {
                display: block;
            }
        }
    }

    .header_center {
        .menu {
            max-width: 720px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 180px;

            .hidden {
                display: none;
            }

            @include md {
                display: none;
            }

            .sub_mega {
                left: 0;
                right: 0;
                padding: 50px 0;
                display: block;
            }

            .ul_lists :where(.sub_menu, .sub_mega) {

                position: absolute;
                top: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1px;
                line-height: 1;
                background-color: var(--white-color);
                box-shadow: var(--shadow);
                z-index: 1000;
                padding: 10px 0;
                animation: var(--fade);

                @keyframes fade-bottom {
                    0% {
                        transform: translateY(10px);
                        opacity: 0;
                    }

                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                .sub_menu_list {
                    padding: 5px 30px;

                    .sub_menu_list :hover {
                        .sub_menu {
                            display: block;
                        }
                    }

                    .sub_menu_link {
                        position: relative;
                        font-size: var(--font-size-16);
                        padding: 6px 0;
                        display: inline-block;
                        transform: var(--transition-color);

                        &:hover {
                            color: var(--dark-color);
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            background-color: var(--dark-color);
                            left: -20px;
                            top: 50%;
                            border-radius: 50%;
                            transform: translateY(-50%);
                            transition: width 0.2s, height 0.2s;
                        }

                        &:hover::before {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
            }

            .menu_link {
                font-size: var(--font-size-14);
                font-weight: var(--font-weight-600);
                text-transform: uppercase;
            }
        }

        .menu {
            .ul_lists {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .branding {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;

            .logo_link {
                font-family: var(--second-font);
                font-size: var(--font-size-30);
                font-weight: var(--font-weight-600);
                line-height: inherit;
                pointer-events: auto;
            }
        }
    }

    // ! Header_Center
}